#cases .row .cases-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

#cases .row .cases-wrapper .cases-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% / 3) - 30px);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    transition: var(--transition);
}

#cases .row .cases-wrapper .cases-item:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
    transition: var(--transition);
}

#cases .row .cases-wrapper .cases-item img {
    width: 100%;
}

#cases .row .cases-wrapper .cases-item h5,
#cases .row .cases-wrapper .cases-item p,
#cases .row .cases-wrapper .cases-item a {
    padding: 0 40px;
    text-align: left;
}

#cases .row .cases-wrapper .cases-item h5 {
    padding-top: 40px;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 15px;
}

#cases .row .cases-wrapper .cases-item p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#cases .row .cases-wrapper .cases-item a {
    padding-bottom: 40px;
    font-size: 14px;
    margin-top: 15px;
}

#cta {
    background-color: var(--light-grey);
}


/* CASE STUDY POST */
#case-body .row {
    max-width: 1300px;
    gap: 40px;
    align-items: flex-start;
}

#case-body .row .col {
    margin: 0;
}

#case-body .row .col:nth-child(1) {
    width: 60%;
}
#case-body .row .col:nth-child(2) {
    width: 40%;
}

#case-body .row h1 {
    font-size: 40px;
    text-align: left;
    margin-top: 60px;
}

#case-body .row h2 {
    font-size: 25px;
    color: var(--primary);
    text-align: left;
    margin-top: 40px;
}

#case-body .row p {
    font-size: 16px;
    text-align: left;
}

#case-body .row .primary-btn {
    margin-left: 0;
}

#case-body .row #sticky-cta {
    background-color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);

    position: static;
}

#case-body .row #sticky-cta h5,
#case-body .row #sticky-cta p {
    text-align: center;
}

#case-body .row #sticky-cta h5 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#case-body .row #sticky-cta .primary-btn {
    margin: 0 auto;
}