#fb {
    height: fit-content;
    background-image: url('../IMG/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    justify-content: flex-start;

    height: 90vh;
    position: relative;
}

.section .primary-btn {
    animation: glowing 1300ms infinite;
}

#fb h1 {
    color: var(--white);
    max-width: 80%;
    line-height: 1;

    display: flex;
    flex-direction: column;
}

#fb .small {
    font-size: 24px;
}

#fb .large {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.section .underline {
    font-weight: 700;
    text-decoration: underline;
}

#usp .underline {
    color: var(--primary);
    text-decoration: none;
}

.section .bold {
    font-weight: 700;
    color: var(--primary);
}

#fb .mockup {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    margin-bottom: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

#usp {
    position: relative;
    margin-top: 100px;
}

#usp .row {
    max-width: 700px;
    justify-content: center;
    text-align: center;
}

#usp .row * {
    line-height: 1.2;
}

#usp .row h2 {
    font-size: 34px;
}

#usp .row p {
    margin: 20px 0;
}

#usp .row p:nth-of-type(1) {
    font-size: 24px;
}

#usp .row li {
    text-align: left;
    margin: 15px 0;
}

#usp ul li:before {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
}

#usp .row p:last-of-type {
    font-size: 28px;
}

#footer .row.flex-col {
    padding: 30px;
    justify-content: center;
}

#footer img {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#footer .row.flex-col p {
    font-size: 12px;
    text-align: center;
    opacity: 0.4;
    margin: 0 auto;
}

#footer .row.flex-col .legal {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    opacity: 0.4;
}

#footer .row.flex-col .legal a {
    font-weight: 400;
}

/* LOADER */
#loading {
    height: 70vh;
}

#loading .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--primary); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loading .load-text,
#loading .load-text a {
    font-size: 30px;
    margin-top: 40px;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes glowing {
    0% {
      background-color: var(--primary);
      box-shadow: 0 0 3px var(--hover);
    }
    50% {
      background-color: var(--primary);
      box-shadow: 0 0 10px var(--hover);
    }
    100% {
      background-color: var(--primary);
      box-shadow: 0 0 3px var(--hover);
    }
}

.arrows {
    width: 60px;
    height: 72px;
}
  
.arrows path {
    stroke: var(--primary);
    fill: transparent;
    stroke-width: 3px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
  
@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

@media (max-width: 768px) {
    #first .row .col {
        width: 100%;
    }

    #fb .large {
        font-size: 40px;
    }

    #fb .small {
        font-size: 20px;
    }

    .section .primary-btn {
        font-size: 16px;
    }

    #usp .row h2 {
        font-size: 26px;
    }

    #usp .row p:nth-of-type(1) {
        font-size: 18px;
    }

    #usp .row li {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    #first {
        height: unset;
    }

    #fb h1 {
        max-width: none;
    }

    #fb {
        height: unset;
        position: unset;
    }

    #fb .mockup {
        position: unset;
        top: unset;
        left: unset;
        transform: translate(0, 0);
    }

    #usp {
        margin-top: unset;
    }
}