#header {
    z-index: 99;
}

#header .row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

#header .row .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header .row .navigation .wrapper {
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 40px;
}

#header .row .navigation .nav-item {
    text-align: center;
    font-weight: 600; 
    font-size: 18px;  
}

#header .row .navigation .nav-item.logo {
    max-width: 200px;
}

#header .row .navigation .nav-item img {
    width: 100%;
    height: auto;
}

#header .row.small {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .section {
    padding-top: 100px;
}
  

@media (max-width: 1000px) {
    #header {
        display: flex;
    }

    #header .row {
        display: none;
    }

    #header .row.small {
        display: flex;
    }

    #header .row .navigation {
        flex-direction: column;
    }

    #header .row.small .wrapper {
        flex: 1 0;
    }

    #header .row .navigation .wrapper {
        gap: 20px;
    }

    #header .row .navigation .wrapper a {
        font-size: 14px;
    }

    #header .row.small .wrapper img {
        margin: 0 auto;
    }
}