#homePage .primary-btn {
    margin-top: 20px;
    margin-bottom: 0;
}

#what p {
    width: 60%;
}

#homePage .black {
    margin: 20px 0 0;
    font-size: 16px;
}

#videoWrapper {
    width: 80%;
}

#homePage .above-video {
    width: 80%;
}

#homePage .top-text {
    font-size: 20px;
    margin-bottom: 10px;
}

#homePage h1 {
    font-size: 46px;
}

#homePage .row:nth-child(1) {
    margin-top: 30px;
}

@media (max-width: 700px) {
    #homePage p {
        font-size: 16px;
    }

    #homePage h1 {
        font-size: 20px;
    }

    #homePage .above-video {
        font-size: 14px;
    }

    #homePage .black {
        font-size: 14px;
        margin: 20px auto;
    }

    #homePage .primary-btn {
        font-size: 14px;
        padding: 15px 20px
    }

    #what p {
        width: 90%;
    }

    #how p:nth-of-type(1) {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #how h2,
    #faq .row h2 {
        font-size: 22px;
    }

    #cases .cases-wrapper .cases-item h4 {
        margin-top: 0;
    }

    #cta .primary-btn {
        margin-top: 20px;
    }

    #cta h2 {
        text-align: center;
        font-size: 22px;
    }
}