:root {
    --dark: #545454;
}

#homePage {
    height: fit-content;
}

#homePage .primary-btn {
    margin-top: 20px;
    margin-bottom: 0;
}

#what p {
    width: 60%;
}

#homePage .black {
    margin: 20px 0 0;
    font-size: 16px;
}

#videoWrapper {
    width: 80%;
}

#homePage .above-video {
    width: 80%;
}

#homePage .top-text {
    font-size: 20px;
    margin-bottom: 10px;
}

#homePage h1 {
    font-size: 62px;
    text-align: left;
}

#homePage p {
    max-width: 80%;
}

#homePage .top {
    color: var(--primary);
    margin-bottom: 5px;
}

#homePage .top,
#homePage .sub {
    text-align: left;
}

#homePage .row:nth-child(1) {
    padding: 80px 30px;
    align-items: flex-start;
}

.form-wrapper {
    margin-top: 20px;
    width: 100%;
}

.form-wrapper ._form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-wrapper ._form_element,
.form-wrapper ._button-wrapper {
    flex: 1 0;
}

.form-wrapper ._form-content input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 9px;
    border: 1px solid var(--primary);
    font-size: 18px;
    outline: none;
    transition: var(--transition);
    height: 60px;
}

.form-wrapper ._form-content input:focus-visible {
    border: 3px solid var(--primary);
    outline: none;
    transition: var(--transition);
}

.form-wrapper ._form-content #_form_1_submit {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 9px;
    padding: 10px 15px;
    transition: var(--transition);
    cursor: pointer;
    height: 60px;
}

.form-wrapper ._form-content input._has_error {
    border: 3px solid red;
}

.form-wrapper ._form-content ._error-inner {
    color: red;
    font-weight: 900;
    margin-top: 5px;
}

#about .wrapper {
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    gap: 30px;
}

#about .wrapper .item {
    flex: 1 0 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .wrapper .item:nth-child(1) {
    background-color: var(--dark);
    padding: 30px;
    border-radius: 26px;
}

#about .wrapper .item img {
    width: 100%;
}


#about .row .wrapper * {
    text-align: left;
    color: var(--white);
}

#about .row .wrapper .top {
    color: var(--primary);
    margin-bottom: 10px;
}

#about .row .wrapper h2 {
    font-size: 24px;
    text-transform: none;
}

#about .row img {
    border-radius: 26px;
}


#stats .wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#stats .wrapper .item {
    flex: 1 0 300px;
    background-color: var(--dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    padding: 30px;

    color: var(--white);
}

#stats .wrapper .item:nth-child(2) {
    background-color: transparent;
    padding: 0;
}

#stats .wrapper .item h3 {
    color: var(--primary);
    font-size: 46px;
    margin-bottom: 0;
}

#stats .wrapper .item p {
    font-size: 16px;
}

#stats .wrapper .item p.sub {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

#stats .wrapper .item img {
    width: 100%;
    border-radius: 26px;
}

#mission .wrapper * {
    text-align: left;
    color: var(--white);
}

#mission .wrapper {
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
}

#mission .wrapper .item {
    flex: 1 0 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission .wrapper .item .icon {
    color: var(--primary);
    font-size: 100px;
}

#mission .wrapper .item img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 26px;
}

#mission .wrapper .item:nth-child(2) {
    background-color: var(--dark);
    padding: 20px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}

#mission .wrapper .quote {
    font-size: 22px;
}

#mission .wrapper .focus {
    color: var(--primary);
}

#mission .wrapper .author {
    margin-top: 30px;
}

#faq {
    background-color: var(--dark);
}

#faq .row {
    align-items: flex-start;
}

#faq .row.flex-col h2,
#faq .row.flex-col p {
    color: var(--white);
}

#faq .row.flex-col .top {
    color: var(--primary);
}

#faq .accordion-list .accordion-item {
    background-color: var(--white);
}

#faq .accordion-list .accordion-item .accordion-head h5 {
    color: var(--dark);
}

#faq .accordion-list .accordion-item .accordion-head .icon {
    background-color: var(--primary);
}

#faq .accordion-list .accordion-item .accordion-body p {
    color: var(--dark);
}

#cta .wrapper {
    background-color: var(--dark);
    padding: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 26px;
}
#cta .wrapper .top {
    color: var(--primary);
    margin-bottom: 10px;
}

#cta .wrapper h2 {
    font-size: 44px;
    color: var(--white);
}


@media (max-width: 700px) {
    #homePage {
        height: fit-content;
    }
    
    #homePage p {
        font-size: 16px;
    }

    #homePage h1 {
        font-size: 24px;
    }

    #homePage .above-video {
        font-size: 14px;
    }

    #homePage .black {
        font-size: 14px;
        margin: 20px auto;
    }

    #homePage .primary-btn {
        font-size: 14px;
        padding: 15px 20px
    }

    #what p {
        width: 90%;
    }

    #how p:nth-of-type(1) {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #how h2,
    #faq .row h2 {
        font-size: 22px;
    }

    #cases .cases-wrapper .cases-item h4 {
        margin-top: 0;
    }

    #cta .primary-btn {
        margin-top: 20px;
    }

    #cta h2 {
        text-align: center;
        font-size: 22px;
    }
    #homePage .sub {
        font-size: 14px;
    }

    .form-wrapper ._form-content input,
    .form-wrapper ._form-content #_form_1_submit {
        height: 50px;
    }

    .form-wrapper ._form-content input,
    .form-wrapper ._form-content #_form_1_submit {
        font-size: 14px;
    }

    .form-wrapper ._form-content {
        flex-direction: column;
    }

    .form-wrapper ._form-content ._form_element,
    .form-wrapper ._form-content ._button-wrapper {
        width: 100%;
    }

    #mission .wrapper .item img {
        border-radius: 26px;
    }

    #mission .wrapper .item:nth-child(2) {
        border-radius: 26px;
    }
}

@media (max-width: 1000px) {
    #mission .wrapper .item .icon {
        font-size: 40px;
    }

    #mission .wrapper .quote {
        font-size: 18px;
    }
}