#first {
    background-image: linear-gradient(#545454 50%, #ffffff 0%);
}

#first p,
#first h1 {
    color: var(--white);
}

.section .color-primary {
    color: var(--primary);
}

h1 span,
h2 span {
    font-weight: 700;
}



#important {
    background-color: #545454;
}

#important .row {
    max-width: 1400px;
    padding: 20px;
    margin: 0;
}

#important p,
#important span {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

#important p {
    color: var(--white);
}