#first {
    /* background-image: linear-gradient(#545454 50%, #ffffff 0%); */
    background-color: #545454;
}

#first p,
#first h1 {
    color: var(--white);
}

.section .color-primary {
    color: var(--primary);
}

h1 span,
h2 span {
    font-weight: 700;
}

h2 {
    font-size: 36px;
    text-transform: capitalize;
}

h2 .color-primary {
    text-transform: uppercase;
}

.row {
    max-width: 1400px;
}

.row img {
    width: 100%;
}

.primary-btn {
    font-size: 20px;
}

.primary-btn.blue {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    margin-left: 0;
}

.primary-btn.blue .fa-facebook-f {
    margin-right: 10px;
}

.section .row.left-text p {
    text-align: left;
}

#important {
    background-color: #545454;
}

#important .row {
    max-width: 1400px;
    padding: 20px;
    margin: 0;
}

#important p,
#important span {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

#important p {
    color: var(--white);
}

.sharing-Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--light-grey);
}

.sharing-Wrapper .socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sharing-Wrapper .link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;

    background-color: #181818;
    color: var(--white);
    font-size: 14px;
}

.sharing-Wrapper .link-wrapper #copyURL {
    text-transform: uppercase;
    transition: var(--transition);
}

.sharing-Wrapper .link-wrapper #copyURL:hover {
    transform: scale(1.05);
    transition: var(--transition);
}

.sharing-Wrapper .wp {
    max-width: 30px;
    height: auto;
}


@media (max-width: 910px) {
    .row:not(#header .row) {
        flex-direction: column;
    }
    
    .row .col {
        width: 100%;
    }
}